*.cmd
*.mod.*
*.ko
*.o
.tmp_versions
Module.symvers
modules.order
debian/files
debian/rtsp-conntrack-source.debhelper.log
debian/rtsp-conntrack-source.substvars
debian/rtsp-conntrack-source
debian/*.backup
debian/*.debhelper.log
