language: c

env:
  - DIST=wheezy

before_install:
  - sudo apt-get update
  - wget http://mirrors.kernel.org/ubuntu/pool/main/p/pbuilder/pbuilder_0.215ubuntu7_all.deb
  - wget https://ftp-master.debian.org/keys/archive-key-7.0.asc

install:
  - sudo apt-get install pbuilder gnupg piuparts
  - sudo dpkg -i pbuilder*deb
  - gpg --import $PWD/archive-key-7.0.asc

before_script:
  - echo "MIRRORSITE=http://http.debian.net/debian/" >> ~/.pbuilderrc
  - sudo pbuilder create --override-config --distribution ${DIST} --debootstrapopts --keyring=$HOME/.gnupg/pubring.gpg
  - mkdir ~/pbuilderhooks
  - cp /usr/share/doc/pbuilder/examples/B90lintian $HOME/pbuilderhooks
  - echo "HOOKDIR=$HOME/pbuilderhooks/" >> ~/.pbuilderrc

script:
  - pdebuild --buildresult ..
  - cd ..
  - echo -e '#!/bin/sh'"\nfor file in /etc/apt/sources.list \$(ls /etc/apt/sources.list.d/*) ; do echo \$file ; cat \$file ; echo ; done " > /tmp/script.sh
  - sudo sudo pbuilder --execute -- /tmp/script.sh
  - sudo piuparts -d ${DIST} -p rtsp-conntrack-dkms_*_all.deb
