language: c

env:
  - DIST=wheezy MIRROR=http://http.debian.net/debian/

before_install:
  - sudo apt-get update
  - wget http://mirrors.kernel.org/ubuntu/pool/main/p/pbuilder/pbuilder_0.215ubuntu7_all.deb
  - wget https://ftp-master.debian.org/keys/archive-key-7.0.asc

install:
  - sudo apt-get install pbuilder gnupg piuparts
  - sudo dpkg -i pbuilder*deb
  - gpg --import $PWD/archive-key-7.0.asc

before_script:
  - echo "MIRRORSITE=${MIRROR}" >> ~/.pbuilderrc
  - sudo pbuilder create --override-config --distribution ${DIST} --debootstrapopts --keyring=$HOME/.gnupg/pubring.gpg
  - mkdir ~/pbuilderhooks
  - cp /usr/share/doc/pbuilder/examples/B90lintian $HOME/pbuilderhooks
  - echo "HOOKDIR=$HOME/pbuilderhooks/" >> ~/.pbuilderrc

script:
  - pdebuild --buildresult ..
  - mount
  - sudo piuparts --defaults debian --distribution ${DIST} --mirror ${MIRROR} --pbuilder ../rtsp-conntrack-dkms_*_all.deb
