language: c

env:
  - DIST=wheezy MIRROR=http://http.debian.net/debian/

before_install:
  - sudo apt-get update
  - wget http://mirrors.kernel.org/ubuntu/pool/main/d/debootstrap/debootstrap_1.0.59ubuntu0.1_all.deb
  - wget http://mirrors.kernel.org/ubuntu/pool/main/p/pbuilder/pbuilder_0.215ubuntu7_all.deb
  - wget http://mirrors.kernel.org/ubuntu/pool/universe/p/piuparts/piuparts-common_0.56ubuntu1_all.deb
  - wget http://mirrors.kernel.org/ubuntu/pool/universe/p/piuparts/piuparts_0.56ubuntu1_all.deb
  - wget https://ftp-master.debian.org/keys/archive-key-7.0.asc

install:
  - mount
  - dpkg -l
  - lsof
  - sudo umount /proc/sys/fs/binfmt_misc
  - mount
  - sudo apt-get install pbuilder gnupg piuparts debootstrap debsums python-distro-info tee
  - sudo dpkg -i debootstrap*deb
  - sudo dpkg -i pbuilder*deb
  - sudo dpkg -i piuparts*deb
  - gpg --import $PWD/archive-key-7.0.asc
  - sudo cp piuparts /usr/sbin/piuparts

before_script:
  - echo "MIRRORSITE=${MIRROR}" >> ~/.pbuilderrc
  - sudo pbuilder create --override-config --distribution ${DIST} --debootstrapopts --keyring=$HOME/.gnupg/pubring.gpg
  - mkdir ~/pbuilderhooks
  - cp /usr/share/doc/pbuilder/examples/B90lintian $HOME/pbuilderhooks
  - echo "HOOKDIR=$HOME/pbuilderhooks/" >> ~/.pbuilderrc

script:
  - pdebuild --buildresult ..
  - sudo piuparts --defaults debian --distribution ${DIST} --mirror ${MIRROR} --pbuilder ../rtsp-conntrack-dkms_*_all.deb 2>&1 | tee -a piuparts.log || true
  - grep -q 'ERROR:' ../piuparts.log && return 1
