Source: rtsp-conntrack
Section: non-free/admin
Priority: optional
Maintainer: Benoit Guerin <benoit.guerin@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: https://github.com/maru-sama/rtsp-linux-v2.6.git

Package: rtsp-conntrack-source
Architecture: all
Depends: ${misc:Depends} 
Description: RTSP Conntrack module
 This package contains a netfilter module to track RTSP connections to
 do transparent NAT.
 .
