Source: rtsp-conntrack
Section: kernel
Priority: optional
Maintainer: Benoit Guerin <benoit.guerin@gmail.com>
Build-Depends: debhelper (>= 7), dkms
Standards-Version: 3.9.6
Homepage: https://github.com/maru-sama/rtsp-linux-v2.6
Vcs-Git: git://github.com/maru-sama/rtsp-linux-v2.6.git
Vcs-Browser: https://github.com/maru-sama/rtsp-linux-v2.6

Package: rtsp-conntrack-dkms
Architecture: all
Depends: dkms (>= 1.95), ${misc:Depends}
Description: RTSP Conntrack module
 This package contains a netfilter module to track RTSP connections to
 do transparent NAT.
 .
