#!/usr/bin/make -f

psource:=rtsp-conntrack-source
sname:=rtsp-conntrack
PACKAGE=rtsp-conntrack-modules
MA_DIR ?= /usr/share/modass
-include $(MA_DIR)/include/generic.make
-include $(MA_DIR)/include/common-rules.make

kdist_config: prep-deb-files

kdist_clean:
	$(MAKE) clean

build:

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_installdirs -p$(psource)  usr/src/modules/$(sname)/debian
	cp -a README.rst *.h nf_conntrack_rtsp.c nf_nat_rtsp.c Makefile \
	        debian/$(psource)/usr/src/modules/$(sname)
	cp debian/*modules.in* \
		debian/$(psource)/usr/src/modules/$(sname)/debian
	cp debian/control debian/rules debian/changelog debian/copyright \
		debian/compat debian/$(psource)/usr/src/modules/$(sname)/debian/
	sed -i 's!^\(include /usr/share/quilt/quilt.make\)$$!#\1!' debian/$(psource)/usr/src/modules/$(sname)/debian/rules
	cd debian/$(psource)/usr/src && tar c modules | bzip2 -9 > $(sname).tar.bz2 && rm -rf modules
	dh_install

clean:
	dh_testdir
	export KERNELSRC=$(KSRC)
	$(MAKE) clean
	dh_clean

binary-modules:
	dh_testroot
	dh_prep
	dh_installdirs \
		lib/modules/$(KVERS)/kernel/net/netfilter \
		lib/modules/$(KVERS)/kernel/net/ipv4/netfilter
	export KERNELSRC=$(KSRC)
	$(MAKE) KERNELSRC=$(KSRC) KERNELVERSION=$(KVERS)
	cp nf_conntrack_rtsp.ko debian/$(PKGNAME)/lib/modules/$(KVERS)/kernel/net/netfilter
	cp nf_nat_rtsp.ko debian/$(PKGNAME)/lib/modules/$(KVERS)/kernel/net/ipv4/netfilter
	dh_installmodules
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- -v$(VERSION)
	dh_md5sums
	dh_builddeb --destdir=$(DEB_DESTDIR)
	dh_prep


binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs  -i
	dh_installdocs -i
	dh_installexamples -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch:

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install binary-modules kdist kdist_configure kdist_image kdist_clean
